<div id="<%= dom_id user_submission %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user_submission.email %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user submission", user_submission, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this user submission', edit_user_submission_path(user_submission), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
